<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.EDA397.Navigator.NaviGitator">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.EDA397.Navigator.NaviGitator.Activities.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="com.EDA397.Navigator.NaviGitator.Activities.LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AccountPickerActivity"
            android:label="@string/title_activity_account_picker" >
            <intent-filter>
                <action android:name="com.EDA397.Navigator.NaviGitator.Activities.AccountPickerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RepositoryActivity"
            android:label="Repository" >
            <intent-filter>
                <action android:name="com.EDA397.Navigator.NaviGitator.Activities.RepositoryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name="com.EDA397.Navigator.NaviGitator.Services.NotificationService"/>
    </application>


    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
