<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.EDA397.Navigator.NaviGitator" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.EDA397.Navigator.NaviGitator.Activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.EDA397.Navigator.NaviGitator.Activities.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.EDA397.Navigator.NaviGitator.Activities.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="com.EDA397.Navigator.NaviGitator.Activities.LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.EDA397.Navigator.NaviGitator.Activities.AccountPickerActivity"
            android:label="@string/title_activity_account_picker" >
            <intent-filter>
                <action android:name="com.EDA397.Navigator.NaviGitator.Activities.AccountPickerActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.EDA397.Navigator.NaviGitator.Activities.RepositoryActivity"
            android:label="Repository" >
            <intent-filter>
                <action android:name="com.EDA397.Navigator.NaviGitator.Activities.RepositoryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.EDA397.Navigator.NaviGitator.Forwarders.CCForwarder"
            android:label="Repository" >
            <intent-filter>
                <action android:name="com.EDA397.Navigator.NaviGitator.Activities.CCForwarder" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.EDA397.Navigator.NaviGitator.Forwarders.PushForwarder"
            android:label="Repository" >
            <intent-filter>
                <action android:name="com.EDA397.Navigator.NaviGitator.Activities.PushForwarder" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.EDA397.Navigator.NaviGitator.Forwarders.ICForwarder"
            android:label="Repository" >
            <intent-filter>
                <action android:name="com.EDA397.Navigator.NaviGitator.Activities.ICForwarder" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.EDA397.Navigator.NaviGitator.Forwarders.IssueForwarder"
            android:label="Repository" >
            <intent-filter>
                <action android:name="com.EDA397.Navigator.NaviGitator.Activities.IssueForwarder" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.EDA397.Navigator.NaviGitator.Services.NotificationService" />

        <activity
            android:name="com.EDA397.Navigator.NaviGitator.Forwarders.ConflictForwarder"
            android:label="@string/title_activity_conflict_forwarder" >
            <intent-filter>
                <action android:name="com.EDA397.Navigator.NaviGitator.Activities.ConflictForwarder" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
